<!DOCTYPE html>
<html>
<head>
  <title>ElasticsearchAppExample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to 'All movies', movies_path %> |
    <%= link_to 'New movie', new_movie_path %>
  </nav>
  <br>

  <%= form_for :search, url: search_movies_path, method: :get, html: { id: 'search' } do |f| %>
    <%= f.text_field 'query', value: @query %>
    <%= f.submit 'Search' %>
  <% end %>
  <br><hr><br>

  <%= yield %>
</body>
</html>
